<!DOCTYPE html>
{% load static %}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" />

    <title>Авторизация</title>
</head>

<body>
    <div class="popup open">
        <div class="popup__box">
            <center><h2> Авторизация </h2></center>
            <form method="post" id="autorization_form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="text-field text-field_floating">
                        {{ field }}
                        <label for="{{ field.id_for_label }}" class="text-field__label"> {{ field.label }} </label>
                    </div>
                    <div class="error_message">{{ field.errors }}</div>
                {% endfor %}
                <input type="hidden" name="demo" value="">
                <button form="autorization_form" class="button form_button" type="submit">Войти</button>
            </form>
            <br>
            <br>
            <input class="button form_button" type="button" 
            onclick="window.location.href = '{% url 'register' %}';" value="Регистрация">
            <br>
            <center><h2> Демо </h2></center>
            <form method="post" id="login_admin">
                {% csrf_token %}
                <input type="hidden" name="demo" value="demo_login_admin">
                <input form="login_admin" type="submit" class="button form_button" 
                    value="Вход под администратором">
            </form>
            <br>
            <form method="post" id="login_employee">
                {% csrf_token %}
                <input type="hidden" name="demo" value="demo_login_employee">
                <input form="login_employee" type="submit" class="button form_button" 
                    value="Вход под мастером (ограниченные права)">
            </form>
        </div>
    </div>
</body>