<!DOCTYPE html>
{% load static %}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" />

    <title>Авторизация</title>
</head>

<body>
    <div class="popup open">
        <div class="popup__box">
            <h2> Регистрация </h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="text-field text-field_floating">
                        {{ field }} 
                        <label for="{{ field.id_for_label }}" class="text-field__label"> {{ field.label }} </label>
                    </div>
                    <div class="error_message">{{ field.errors }}</div>
                {% endfor %}
                <br>
                <button class="button form_button" type="submit">Регистрация</button>
            </form>
            <br>

            <input class="button form_button" type="button" 
            onclick="window.location.href = '{% url 'login' %}';" value="Вход">
        </div>
    </div>
</body>