{% extends "order.html" %}
{% block popup %}

<div class="popup open">
    <div class="popup__box">
        <h2> Добавление услуги </h2>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="text-field text-field_floating">
                {{ field }}
                <label for="field.id_for_label" class="text-field__label">{{ field.label }}</label>
            </div>
            <div class="error_message">{{field.errors}}</div>
            {% endfor %}

            <input class="button form_button" type="submit" value="Сохранить услугу"> <br>
            <input class="button form_button" type="button"
                onclick="window.location.href = '{% url 'order' order.pk %}';" value="Отмена"></p>

        </form>
    </div>
</div>

{% endblock popup %}