{% extends main_page %}

{% block popup %}

<div class="popup open">
    <div class="popup__box">
        <h2>Рил удалить?</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input class="button form_button" type="submit" value="Да, рил"> <br>
            <input class="button form_button" type="button" 
                onclick="window.location.href = '{{cancel_button}}';" value="Отмена">
        </form>
    </div>
</div>
{% endblock popup %}