{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/filter_bar.css' %}" />

<div id="filter">
    <div class="filter_bar__box">
        <b> Фильтр: </b>
        <br>
        <br>
        <form action="" method="get" name="date_form">
            {% for field in filter_date_form %}
                <p>{{ field }}</p>
            {% endfor %}
            {{ filter_employee_form }}
            <br>
            <input class="form_button" type="submit" value="Применить">
        </form>
    </div>
</div>

{% endblock head %}
{% block title %}Заказы{% endblock title %}


{% block content%}

<!-- КНОПКА ФИЛЬТРА -->
<span class="big_text">
Заказы
<button id="filter_button" class="icon_button last">
    <img src="{% static 'icons/filter.png' %}" height="40" alt="filter">
</button>
</span>
<br>
<br>

<!-- ПОИСК -->
<form class action="" method="GET">
    <div>
        <input class="text-field__input search" type="text" name="search" placeholder="Поиск"
        {% if search_query %} value="{{ search_query }}">
        {% else %} value="">
        {% endif %}
        
        <button class="icon_button last">
            <img src="{% static 'icons/filter.png' %}" height="30" alt="filter">
        </button>

    </div>
</form>

<!-- ТАБЛИЦА ЗАКАЗОВ -->
<div>
<table class="orders full_width">
    <thead class="orders">
        <th>№</th>
        <th>ФИО клиента</th>
        <th>Номер телефона</th>
        <th>Тип устройства</th>
        <th>Производитель</th>
        <th>Модель</th>
        <th>Неисправность</th>
        <th>Стоимость</th>
    </thead>

    <tbody>
        {% for order in orders %}
            <tr class="selectable" onclick="document.location = '{{order.get_absolute_url}}';">
                <td>{{ order.id }}</td>
                <td>{{ order.client.name }}</td>
                <td>{{ order.client.tel }}</td>
                <td>{{ order.device_type }}</td>
                <td>{{ order.device_brand }}</td>
                <td>{{ order.device_model }}</td>
                <td>{{ order.whats_broken }}</td>
                <td>{{ order.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script src="{% static 'js/filter.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>

{% endblock content %}