{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock head %}
{% block title %}Платежи{% endblock title %}
{% block header %}Платежи{% endblock header %}

<div>
    {% block content%}
    {% block popup %}{% endblock popup %}

    <h2>Общий доход: {{ all_income }} ₽ | 
        Общий расход: {{ all_expense }} ₽| 
        Профит: {{ all_profit }} ₽</h2>

    Фильтр new:
    <br>

    <form action="" method="get" name="date_form">
        {% for field in filter_date_form %}
            {{ field }}
        {% endfor %}
        <br>
        <input type="submit" value="Фильтр">
    </form>

    <form action="" method="get" name="employee_form">
        {{ employee_form }}
    </form>

    <hr>
    <hr>
    
    <table class="payments full_width">
        <thead class="payments">
            <th width="15%">Дата</th>
            <th width="5%">Приход</th>
            <th width="5%">Расход</th>
            <th width="5%">№ заказа</th>
            <th width="15%">Основание</th>
            <th width="15%">Сотрудник</th>
            <th width="15%">Описание</th>
            <th width="5%">Удалить</th>
        </thead>

        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{payment.date}}</td>
                <td>{{payment.income}}</td>
                <td>{{payment.expense}}</td>
                <td>{% if payment.order.id %}
                    <a href="{% url 'order' payment.order.id %}">{{payment.order.id}}</a>
                {% endif %}</td>
                
                <td>{{payment.get_payment_reason_display}}</td>
                <td>{{payment.employee.get_full_name}}</td>
                <td>{{payment.comment}}</td>
                <td> <a href="{% url 'delete_payment' payment.id %}">&#10060;</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <script>
        function showCalendar() {
            document.getElementById("interval_start").hidden = false;
            document.getElementById("interval_end").hidden = false;
            document.getElementById("interval_start").disabled = false;
            document.getElementById("interval_end").disabled = false;
        }

        function hideCalendar() {
            document.getElementById("interval_start").hidden = true;
            document.getElementById("interval_end").hidden = true;
            document.getElementById("interval_start").disabled = true;
            document.getElementById("interval_end").disabled = true;
        }
        
        if (document.getElementById("date_selector").value === "interval"){
            showCalendar()
        }

        function showHideCalendar(choice){
            if (choice === "interval"){showCalendar()}
            if (choice !== "interval"){hideCalendar()}
            }
    </script>


    {% endblock content %}
</div>

<!-- <tr class="selectable" onclick="document.location = '{% url 'orders' %}?action=show&order_id={{payment.order}}';"> -->