.filter_bar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: grid;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.3);

    transition: visibility .4s, opacity .4s;
}

.filter_bar__box{
    position: fixed;
    top: -10px;
    left: 100vw;
    width: 400px;
    height: 100vh;
    padding: 30px;
    z-index: 101;
    margin: 15px 15px;
    background-color: #1d232b;
    border-radius: 3%;

    transition: ease-in-out .3s;
}

.filter_bar.active{
    background: rgba(0,0,0,.5);
}
.filter_bar.active .filter_bar__box{
    transform: translate(-400px);
    transition: ease-in-out .3s;
}