
*,
*::before,
*::after {
    box-sizing: border-box;
  }

  
body { 
  /*font-family: sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #ebebeb;
  background-color: #142335;
}

.error_message{
  font-size: 12px;
  color: red;
}


/* Текстовые поля */

.text-field {
    margin-bottom: 1rem;
  }

  
  .text-field__label {
    display: block;
    margin-bottom: 20px;
  }
 
  
  .text-field__input {
    color: #ffffff;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0px;
    padding: 0px 0.75rem;
    font-family: inherit;
    border: 1px solid #b8b8b8;
    background-color: #0A1828;
    border-radius: 10px;
  }
 
  .text-field__input.search {
    display: inline-block;
    width: calc(100% - 100px);
  }
  
  .text-field__input.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  

  .text-field__label {
    display: block;
    margin-bottom: 0.25rem;
  }

.text-field__input:hover {
    background: #0A1828;
    border: 1px solid #ffffff;
    outline: none;
    box-shadow: none;
}

  .text-field__input:focus {
    background: #0A1828;
    border: 1px solid #66fcf1;
    outline: none;
    box-shadow: none;
}

.text-field_floating {
    position: relative;
  }

.text-field_floating .text-field__label {
    position: absolute;
    top: 50%;
    left: 0.3125rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: #0A1828;
    color: #afafaf;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.text-field_floating .text-field__input::-moz-placeholder {
    color: transparent;
  }

  .text-field_floating .text-field__input::placeholder {
    color: transparent;
  }

  .text-field_floating .text-field__input:focus~.text-field__label,
  .text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label {
    top: 0;
    transform: translateY(-50%) scale(0.75);
  }

  
/* .text-field__input_select {
  color: #050505;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0px;
  padding: 0px 0.75rem;
  font-family: inherit;
  border: 1px solid #b8b8b8;
  background-color: #0A1828;
  border-radius: 10px;
} */

/* Кнопки */

.form_button{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0px;
    padding: 0px 0.75rem;
    /*box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.068);*/
    font-family: inherit;
    font-weight: 700;
    /* border: 1px dotted #b8b8b8; */
    border: none;
    border-radius: 10px;
    background: #66fcf1;
}

.form_button:hover {background: #9bfff8;}
.form_button:focus {background: #00ffee;}


.icon_button{
  border: none;
  background: transparent;
  cursor: pointer;
}



.textcols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.textcols-item{
    flex-direction: column;
}




.flexible_table_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flexible_table_info-item{
    flex-direction: column;
    display: flex;
}


.auth_form_label{
  display: inline-block;
  min-width: 150px;
  vertical-align: top;
}


.last{
  float: right;
}


/* Стили для скролла */
::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


/* Стили истории заказа */
.order_containers {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: calc(100vh - 80px) ;
}

.order_containers-content{
  flex-direction: column;
  min-width: 600px;
  width: 70%;
  height: 100vh;
  flex-grow: 1;
  overflow-y: auto;
}

.order_containers-history{
  flex-direction: column;
  min-width: 250px;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  flex-grow: 1;
}


.order_containers-history .history_message{
  /* position: absolute; */
  width: 100%;
  /* height: 80%; */
  min-width: inherit;
  max-height: 4rem;
  flex-grow: 1;
  resize: none;
  /* bottom: 1px; */
  /* display: flex;
  min-width: 200px;
  flex-grow: 1;
  overflow: auto; */
}

div.scrollable {
    width: 100%;
    height: 75vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}


.big_text {
  font-size: 20px;
}


/* Убираю стрелки у input-number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}