{% extends template_name %}
{% block popup %}

{% if perms.clients.change_client %}
<div class="popup open" id="edit_client_popup">
    <div class="popup__box">
        <h2>Изменение карточки клиента <br>{{client.name}} </h2>
        <form method="POST">
            {% csrf_token %}
            <h3><label>Информация о клиенте</label></h3>
            {% for field in form %}
            <div class="text-field text-field_floating">
                {{ field }}
                <label for="form.id_for_label" class="text-field__label">{{ field.label }}</label>
            </div>
            <div class="error_message">{{ field.errors }}</div>
            {% endfor %}
            <input class="button form_button" type="submit" value="Сохранить">
            <br>
            {% if template_name == 'order.html' %}
            <input class="button form_button" type="button"
                onclick="window.location.href = '{% url 'order' order.pk %}';" value="Отмена">
            {% elif template_name == 'clients.html' %}
            <input class="button form_button" type="button"
                onclick="window.location.href = '{% url 'clients' %}';" value="Отмена">
            {% endif %}
        </form>
    </div>
</div>
{% endif %}

{% endblock popup %}